:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
button,
textarea,
input {
  font-family: inherit;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  box-shadow: none;
  outline: none;
}
